<div class="container home-component d-flex flex-column justify-content-center">
    <div class="row">
        <div class="col">
            <h3 class="fw-bold subTitle">{{ about }}</h3>
            <br>
            <h5 class="bg-white p-5 rounded about-desc">Committed and goal-oriented computer science graduate looking to pursue a career in the frontend developer path. I am passionate about coding and solving problems through code. Have knowledge in HTML, CSS, JavaScript, BootStrap, Tailwind, Web API, and Angular. Ability to learn new softwares and technologies quickly. Capability to work in teams by providing valuable support and I am excited to work alongside other amazing programmers and learn so much more!</h5>       
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h3 class="fw-bold subTitle">{{ skills }}</h3>
            <br>
            <ul class="d-flex justify-content-around rounded-pill about-skills" style="list-style: none; padding: 0px; background-color: #fff;">
                <li class="bg-image hover-zoom">
                    <img [src]="html" alt="html">
                </li>
                <li class="bg-image hover-zoom">
                    <img [src]="css" alt="css">
                </li>
                <li class="bg-image hover-zoom">
                    <img [src]="js" alt="js" width="50">
                </li>
                <li class="bg-image hover-zoom">
                    <img [src]="bootstrap" alt="bootstrap" width="50">
                </li>
                <li class="bg-image hover-zoom">
                    <img [src]="angular" alt="angular" width="50">
                </li>
                <li class="bg-image hover-zoom">
                    <img [src]="api" alt="api" width="50">
                </li>
                <li class="bg-image hover-zoom">
                    <img [src]="git" alt="git" width="50">
                </li>
                <li class="bg-image hover-zoom">
                    <img [src]="vsc" alt="vsc" width="50">
                </li>
            </ul>           
        </div>
    </div>
</div>