<div class="container home-component d-flex flex-column justify-content-center">
    <h3 class="fw-bold subTitle">Projects</h3>
    <br>
    <div class="row project-list">
        <div class="col">
            <div class="card bg-image hover-zoom" style="width: 18rem;">
                <img src="../../assets/foto-antrian.jpg" class="card-img-top" alt="queue">
                <div class="card-body pb-0">
                  <h5 class="card-title">Queue Website</h5>
                  <p>This project was developed based on user requirements to display a real-time patient queue. It is built using <a href="https://react.dev/" target="_blank">React</a>, <a href="https://vite.dev/" target="_blank">Vite</a>, and <a href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a>.</p>
                </div>
                <div class="card-body pt-0">
                  <!-- <a href="https://isfanb.netlify.app/" target="_blank" class="card-link">Live</a> -->
                  <a href="https://github.com/isfanb/queue-app" target="_blank" class="card-link">Repo</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-image hover-zoom" style="width: 18rem;">
                <img src="../../assets/movie.PNG" class="card-img-top" alt="movie">
                <div class="card-body pb-0">
                  <h5 class="card-title">Movie App</h5>
                  <p>This project was completed as a code challenge in the interview process for a job. It's built with <a href="http://angular.io" target="_blank">Angular</a> and <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>. It connect to <a href="http://omdbapi.com" target="_blank">OMDB API</a> to get movies. I made <span style="color: #DC3545;">Search Feature</span> for searching movies by title.</p>
                  
                </div>
                <div class="card-body pt-0">
                  <a href="https://muviesearch.netlify.app/" target="_blank" class="card-link">Live</a>
                  <a href="https://github.com/isfanb/movieapp" target="_blank" class="card-link">Repo</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-image hover-zoom" style="width: 18rem;">
                <img src="../../assets/newsweb.png" class="card-img-top" alt="news">
                <div class="card-body pb-0">
                  <h5 class="card-title">News Website</h5>
                  <p>In this project, I used <a href="https://gnews.io/" target="_blank">Gnews</a> as third party api to get news and articles. The styling is done with <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>. I also used <a href="http://www.npmjs.com/package/ngx-loading-bar" target="_blank">ngx-loading-bar</a> on the top of page to indicate page loading process.</p>
                </div>
                <div class="card-body pt-0">
                  <a href="https://newssweb.netlify.app/" target="_blank" class="card-link">Live</a>
                  <a href="https://github.com/isfanb/newsweb" target="_blank" class="card-link">Repo</a>
                </div>
            </div>
        </div>
    </div>
</div>